- @title = 'РАЗНОСТИ'

#about_differents
  |Добавляем разности и красивости, относящиеся к нашим любимым журавликам (рисунки, фотосессии и т.д.)
  br
  |Особая просьба указывать авторов работ!
br
a.topic_link Ровно тысяча!!!
br
a.topic_link Отдельные фотографии
br
a.topic_link Фотосессии
br
a.topic_link Рисунки
br
a.topic_link Журавлики в интерьере

#add_topic
  a.add Добавить раздел...