- @title = 'ВОЛШЕБСТВО'

#about_magic_story
  |Тут живут ваши истории, в которых журавлики принимали непосредственное участие, или, может быть, даже творили настоящие чудеса!..
br
= link_to 'Я журавлик - ты журавлик!', pages_curu_story_path, class: :topic_link
br
a.topic_link Наша первая встреча или Цуру, привет!
br
a.topic_link Журавлиная свадьба
#add
  = link_to 'Рассказать историю...', pages_curu_tell_magic_story_path, class: :add