#about_magic_story
  |Тут живут ваши истории, в которых журавлики принимали непосредственное участие, или, может быть, даже творили настоящие чудеса!..
br
a.topic_link Я журавлик - ты журавлик!
br
a.topic_link Наша первая встреча или Цуру, привет!
br
a.topic_link Журавлиная свадьба
#add
  a.add Рассказать историю...