#about_history_story
  |Быль и небыль о бумажных журавликах. Факты, мифы, легенды...
br
a.topic_link История цуру
br
a.topic_link Журавлики. Кто они?
br
a.topic_link Бумага и счастье. В чем их связь?
#add
  a.add Рассказать историю...
