#about_history_story
  |Быль и небыль о бумажных журавликах. Факты, мифы, легенды...
br
= link_to 'История цуру', pages_curu_story_path, class: :topic_link
br
a.topic_link Журавлики. Кто они?
br
a.topic_link Бумага и счастье. В чем их связь?
#add
  = link_to 'Рассказать историю...', pages_curu_tell_history_story_path, class: :add
