= @story.title
br
| Рассказчик: #{@story.author}
= simple_format @story.text
br
- @story.pictures.each do |picture|
  = image_tag picture, height: 400
  br

= render partial: 'comments/form'

= render @story.comments
