= @story.title
br
| Рассказчик: #{@story.author}
= simple_format @story.text
br
=image_tag('curu/foto.jpg', height: 400)
br
=image_tag('curu/foto.jpg', height: 400)

= render partial: 'comments/form'


= render @story.comments
