@import compass
@import "compass/reset"
@import "compass/layout"

+sticky-footer(63px)

body
  background: no-repeat image-url('curu/lines.png')
  min-width: 1000px
  #header
    line-height: 0
    a
      text-decoration: none

  #header
    background: no-repeat image-url('curu/main_title.png')
    background-position: 50% 8%
    padding:
      top: 20px
    text-align: center

  #main_menu
    position: relative
    height: 370px
    width: 715px
    margin: 0 auto
    margin-top: 130px

  #lesson_main,  #history_main, #magic_main, #topic_main
    position: absolute
    width: 157px
    height: 120px
    display: block

  #history_main
    top: 9px
    left: 22px


  #magic_main
    left: 22px
    top: 240px

  #lesson_main
    left: 533px
    top: 8px

  #topic_main
    top: 239px
    left: 533px

  #footer
    font-size: 55%
    font-family: Arial
    font-weight: bold
    padding-top: 20px
    padding-bottom: 2px
    +box-sizing(border-box)
    background: repeat-x image-url('curu/footer.png')

  #copyright, #made_by
    display: inline-block

  #copyright
    float: right
    text-align: center
    padding-right: 10px
    padding-top: 5px

  #made_by
    line-height: 1.4
    padding-left: 10px
    float: left

