button.del
  font-family: Tahoma, Arial
  font-size: 17px
  border: 1px solid
  border-color: #ffffff
  background-color: #ffffff
  box-shadow: none
  &:hover
    border-color: #f5c2a3
  &:active
    border-color: #f5c2a3
    background-color: #fecbac
  &:focus
    outline:
      color: #f5c2a3


label
  font-family: Tahoma, Arial
  font-size: 17px


textarea, input[type=text]
  border: 1px solid
  border-color: #b5b5ac
  &:hover
    border-color: #b5b5ac
  &:active
    background-color: #ffffff
    outline:
      color: #fe7501
      width: 1.5px
      style: solid
  &:focus
    outline:
      color: #fe7501
      width: 1.5px
      style: solid


input[type=file]
  position: absolute
  clip: rect(0,0,0,0)

input[type=submit], label.file
  font-family: Tahoma, Arial
  font-size: 17px
  border: 1px solid
  border-color: #ffffff
  background-color: #ffffff
  box-shadow: none
  padding: 3px
  &:hover
    border-color: #f5c2a3
  &:active
    border-color: #f5c2a3
    background-color: #fecbac
  &:focus
    outline:
      color: #f5c2a3

#h1
  font-family: Tahoma, Arial
  font-size: 20px
  margin-bottom: 10px


#attention_comment
  margin:
    top: 5px
    bottom: 10px
  font-size: 12px
  color: darkred

.alert, .alert-error
  font-family: Tahoma, Arial
  font-size: 20px
  color: darkred
  margin-bottom: 15px

span.error
  color: darkred
  font-family: Tahoma, Arial

.field
  margin-bottom: 4px


.album_title, .lesson_title, .topic_title
  label
    margin-right: 5px

#story_attention, #album_attention, #lessons_attention
  margin:
    top: 5px
    bottom: 10px
  font-size: 14px
  color: darkred
  clear: both

#add_topic, #add_album, #add_lesson, #add_story
  margin-top: 20px
  a
    font-family: Tahoma, Arial
    color: black

#comment_table, #story_table
  font-family: Tahoma, Arial
  font-size: 17px

span.speaker
  font-style: italic

.picture img
  max-height: 400px